#include "zmk-helpers/key-labels/36.h"
#include "base.dtsi"

ZMK_BASE_LAYER(Base,
//╭───────────┬───────────┬───────────┬───────────┬───────────╮ ╭───────────┬───────────┬───────────┬───────────┬───────────╮
    &kp Q       &kp W       &kp F       &kp P       &kp B     ,   &kp J       &kp L       &kp U       &kp Y       &kp SQT   ,
//├───────────┼───────────┼───────────┼───────────┼───────────┤ ├───────────┼───────────┼───────────┼───────────┼───────────┤
    HMLG A      HMLA R      HMLS S      HMLC T      &kp G     ,   &kp M       HMRC N      HMRS E      HMRA I      HMRG O    ,
//|───────────┼───────────┼───────────┼───────────┼───────────┤ ├───────────┼───────────┼───────────┼───────────┼───────────┤
    &kp Z       &kp X       &kp C       &kp D       &kp V     ,   &kp K       &kp H       &comma_m    &dot_m      &qexcl    ,
//╰───────────┴───────────┴───────────┼───────────┴───────────┤ ├───────────┼───────────┴───────────┼───────────┴───────────╯
                            XXX         &kp SPACE   &mo NAV   ,   &mo NUM     &kp SPACE   XXX
//                        ╰───────────┴───────────┴───────────╯ ╰───────────┴───────────┴───────────╯
)

ZMK_BASE_LAYER(Casemode_Under,
//╭───────────┬───────────┬───────────┬───────────┬───────────╮ ╭───────────┬───────────┬───────────┬───────────┬───────────╮
    ___         ___         ___         ___         ___       ,   ___         ___         ___         ___         ___       ,
//├───────────┼───────────┼───────────┼───────────┼───────────┤ ├───────────┼───────────┼───────────┼───────────┼───────────┤
    ___         ___         ___         ___         ___       ,   ___         ___         ___         ___         ___       ,
//|───────────┼───────────┼───────────┼───────────┼───────────┤ ├───────────┼───────────┼───────────┼───────────┼───────────┤
    ___         ___         ___         ___         ___       ,   ___         ___         ___         ___         ___       ,
//╰───────────┴───────────┴───────────┼───────────┴───────────┤ ├───────────┼───────────┴───────────┼───────────┴───────────╯
                            ___         UNDER_C     ___       ,   ___         UNDER_C     ___
//                        ╰───────────┴───────────┴───────────╯ ╰───────────┴───────────┴───────────╯
)

ZMK_BASE_LAYER(Casemode_Slash,
//╭───────────┬───────────┬───────────┬───────────┬───────────╮ ╭───────────┬───────────┬───────────┬───────────┬───────────╮
    ___         ___         ___         ___         ___       ,   ___         ___         ___         ___         ___       ,
//├───────────┼───────────┼───────────┼───────────┼───────────┤ ├───────────┼───────────┼───────────┼───────────┼───────────┤
    ___         ___         ___         ___         ___       ,   ___         ___         ___         ___         ___       ,
//|───────────┼───────────┼───────────┼───────────┼───────────┤ ├───────────┼───────────┼───────────┼───────────┼───────────┤
    ___         ___         ___         ___         ___       ,   ___         ___         ___         ___         ___       ,
//╰───────────┴───────────┴───────────┼───────────┴───────────┤ ├───────────┼───────────┴───────────┼───────────┴───────────╯
                            ___         SLASH_C     ___       ,   ___         SLASH_C    ___
//                        ╰───────────┴───────────┴───────────╯ ╰───────────┴───────────┴───────────╯
)

ZMK_BASE_LAYER(Casemode_Dash,
//╭───────────┬───────────┬───────────┬───────────┬───────────╮ ╭───────────┬───────────┬───────────┬───────────┬───────────╮
    ___         ___         ___         ___         ___       ,   ___         ___         ___         ___         ___       ,
//├───────────┼───────────┼───────────┼───────────┼───────────┤ ├───────────┼───────────┼───────────┼───────────┼───────────┤
    ___         ___         ___         ___         ___       ,   ___         ___         ___         ___         ___       ,
//|───────────┼───────────┼───────────┼───────────┼───────────┤ ├───────────┼───────────┼───────────┼───────────┼───────────┤
    ___         ___         ___         ___         ___       ,   ___         ___         ___         ___         ___       ,
//╰───────────┴───────────┴───────────┼───────────┴───────────┤ ├───────────┼───────────┴───────────┼───────────┴───────────╯
                            ___         DASH_C      ___       ,   ___         DASH_C      ___
//                        ╰───────────┴───────────┴───────────╯ ╰───────────┴───────────┴───────────╯
)

ZMK_BASE_LAYER(Casemode_Shift,
//╭───────────┬───────────┬───────────┬───────────┬───────────╮ ╭───────────┬───────────┬───────────┬───────────┬───────────╮
    ___         ___         ___         ___         ___       ,   ___         ___         ___         ___         ___       ,
//├───────────┼───────────┼───────────┼───────────┼───────────┤ ├───────────┼───────────┼───────────┼───────────┼───────────┤
    ___         ___         ___         ___         ___       ,   ___         ___         ___         ___         ___       ,
//|───────────┼───────────┼───────────┼───────────┼───────────┤ ├───────────┼───────────┼───────────┼───────────┼───────────┤
    ___         ___         ___         ___         ___       ,   ___         ___         ___         ___         ___       ,
//╰───────────┴───────────┴───────────┼───────────┴───────────┤ ├───────────┼───────────┴───────────┼───────────┴───────────╯
                            ___         SHIFT_C     ___       ,   ___         SHIFT_C     ___
//                        ╰───────────┴───────────┴───────────╯ ╰───────────┴───────────┴───────────╯
)

ZMK_BASE_LAYER(Nav,
//╭───────────┬───────────┬───────────┬───────────┬───────────╮ ╭───────────┬───────────┬───────────┬───────────┬───────────╮
    XXX         XXX         CAPS_UNDER  WORD_PATH   XXX       ,   SSHOT       WORD_B      NAV_UP      WORD_F      NAV_DEL   ,
//├───────────┼───────────┼───────────┼───────────┼───────────┤ ├───────────┼───────────┼───────────┼───────────┼───────────┤
    &kp LGUI    &kp LALT    &kp LSHFT   &kp LCTRL   SWAP      ,   LAUNCH      NAV_LEFT    NAV_DOWN    NAV_RIGHT   &kp RET   ,
//|───────────┼───────────┼───────────┼───────────┼───────────┤ ├───────────┼───────────┼───────────┼───────────┼───────────┤
    XXX         XXX         WORD_SHIFT  WORD_UNDER  UNTAB     ,   TERM        &kp PUP     CMNT        &kp PDN     NAV_BSPC  ,
//╰───────────┴───────────┴───────────┼───────────┴───────────┤ ├───────────┼───────────┴───────────┼───────────┴───────────╯
                            XXX         &kp SPACE   &mo NAV   ,   &mo NUM     &kp SPACE   XXX
//                        ╰───────────┴───────────┴───────────╯ ╰───────────┴───────────┴───────────╯
)

ZMK_BASE_LAYER(Num,
//╭───────────┬───────────┬───────────┬───────────┬───────────╮ ╭───────────┬───────────┬───────────┬───────────┬───────────╮
    &kp SLASH   &kp N7      &kp N8      &kp N9      &kp PLUS  ,   XXX         XXX         XXX         XXX         XXX     ,
//├───────────┼───────────┼───────────┼───────────┼───────────┤ ├───────────┼───────────┼───────────┼───────────┼───────────┤
    HMLG N0     HMLA N4     HMLS N5     HMLC N6     &kp DOT   ,   CANCEL      &kp LCTRL   &kp LSHFT   &kp LALT    &kp LGUI  ,
//|───────────┼───────────┼───────────┼───────────┼───────────┤ ├───────────┼───────────┼───────────┼───────────┼───────────┤
    &kp ASTRK   &kp N1      &kp N2      &kp N3      &kp MIN   ,   XXX         XXX         &kp COMMA   &kp DOT     XXX       ,
//╰───────────┴───────────┴───────────┼───────────┴───────────┤ ├───────────┼───────────┴───────────┼───────────┴───────────╯
                            ___         ___         ___       ,   ___         ___         ___
//                        ╰───────────┴───────────┴───────────╯ ╰───────────┴───────────┴───────────╯
)

ZMK_BASE_LAYER(Fn,
//╭───────────┬───────────┬───────────┬───────────┬───────────╮ ╭───────────┬───────────┬───────────┬───────────┬───────────╮
    &kp F12     &kp F7      &kp F8      &kp F9      BOOT      ,   BOOT        PREV        &kp VUP     NEXT        PLAY_P    ,
//├───────────┼───────────┼───────────┼───────────┼───────────┤ ├───────────┼───────────┼───────────┼───────────┼───────────┤
    HMLG F11    HMLA F4     HMLS F5     HMLC F6     SWAP      ,   &kp BRK     HMRC PUP    HMRS VDN    HMRA PDN    &kp LGUI  ,
//|───────────┼───────────┼───────────┼───────────┼───────────┤ ├───────────┼───────────┼───────────┼───────────┼───────────┤
    &kp F10     &kp F1      &kp F2      &kp F3      UNTAB     ,   STUDIO      XXX         MUTE        XXX         XXX       ,
//╰───────────┴───────────┴───────────┼───────────┴───────────┤ ├───────────┼───────────┴───────────┼───────────┴───────────╯
                            ___         ___         ___       ,   ___         ___         ___
//                        ╰───────────┴───────────┴───────────╯ ╰───────────┴───────────┴───────────╯
)
