#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>

#include "zmk-helpers/helper.h"
#include "zmk-helpers/key-labels/36.h"

#define BASE        0
#define NAV         1
#define SYM         2
#define NUM         3
#define FN          4
#define CASE_UNDER  5
#define CASE_SLASH  6

#define XXX &none
#define ___ &trans
#define QUICK_TAP_MS 75

&sk {
  release-after-ms = <900>;
  quick-release;
};

&sl { // Allow sticky mods to chord across sticky layers.
  ignore-modifiers;
};

&lt {
    tapping-term-ms = <200>;
    flavor = "balanced";
    quick-tap-ms = <QUICK_TAP_MS>;
};

#include "hrm.dtsi"
#include "keycodes.dtsi"
#include "autolayer.dtsi"
#include "combos.dtsi"

/* Keymap */
ZMK_CONDITIONAL_LAYER(sys, NAV SYM, FN) // NAV + SYM --> FN.

#ifndef ZMK_BASE_LAYER
  #define ZMK_BASE_LAYER(name, LT, RT, LM, RM, LB, RB, LH, RH)                 \
      ZMK_LAYER(name, LT RT LM RM LB RB LH RH)
#endif

ZMK_BASE_LAYER(Base,
//╭───────────┬───────────┬───────────┬───────────┬───────────╮ ╭───────────┬───────────┬───────────┬───────────┬───────────╮
    &kp Q       &kp W       &kp E       &kp R       &kp T     ,   &kp Y       &kp U       &kp I       &kp O       &kp P     ,
//├───────────┼───────────┼───────────┼───────────┼───────────┤ ├───────────┼───────────┼───────────┼───────────┼───────────┤
    HMLA A      HMLC S      HMLG D      HMLS F      &kp G     ,   &kp H       HMRS J      HMRG K      HMRC L      HMRA SQT  ,
//|───────────┼───────────┼───────────┼───────────┼───────────┤ ├───────────┼───────────┼───────────┼───────────┼───────────┤
    &kp Z       &kp X       &kp C       &kp V       &kp B     ,   &kp N       &kp M       &comma_m    &dot_m      &qexcl    ,
//╰───────────┴───────────┴───────────┼───────────┴───────────┤ ├───────────┼───────────┴───────────┼───────────┴───────────╯
                            &sl NUM     &kp RET     &mo NAV   ,   &mo SYM     &kp SPACE   &kp BSPC
//                        ╰───────────┴───────────┴───────────╯ ╰───────────┴───────────┴───────────╯
)

ZMK_BASE_LAYER(Nav,
//╭───────────┬───────────┬───────────┬───────────┬───────────╮ ╭───────────┬───────────┬───────────┬───────────┬───────────╮
    &kp ESC     CASE_PATH   CASE_CAPS   NUM_WORD    &kp TAB   ,   SSHOT       SEL_WB      NAV_UP      SEL_WF      NAV_DEL   ,
//├───────────┼───────────┼───────────┼───────────┼───────────┤ ├───────────┼───────────┼───────────┼───────────┼───────────┤
    &kp LALT    &kp LCTRL   &kp LGUI    &kp LSHFT   UNTAB     ,   LAUNCH      NAV_LEFT    NAV_DOWN    NAV_RIGHT   &kp RET   ,
//|───────────┼───────────┼───────────┼───────────┼───────────┤ ├───────────┼───────────┼───────────┼───────────┼───────────┤
    SAVE        CUT_        COPY_       PASTE       UNDO_     ,   REDO        SEL_LB      CMNT        SEL_LF      NAV_BSPC  ,
//╰───────────┴───────────┴───────────┼───────────┴───────────┤ ├───────────┼───────────┴───────────┼───────────┴───────────╯
                            ___         ___         ___       ,   ___         ___         ___
//                        ╰───────────┴───────────┴───────────╯ ╰───────────┴───────────┴───────────╯
)

ZMK_BASE_LAYER(Sym,
//╭───────────┬───────────┬───────────┬───────────┬───────────╮ ╭───────────┬───────────┬───────────┬───────────┬───────────╮
    &kp ESC     &kp LBKT    &kp LBRC    &kp LPAR    &kp TILDE ,   &kp GRAVE   &kp RPAR    &kp RBRC    &kp RBKT    NAV_DEL   ,
//├───────────┼───────────┼───────────┼───────────┼───────────┤ ├───────────┼───────────┼───────────┼───────────┼───────────┤
    &kp MIN     &kp AST     &kp EQUAL   &kp UNDER   &kp DLLR  ,   &kp HASH    &kp LSHFT   &kp LGUI    &kp LCTRL   &kp LALT  ,
//|───────────┼───────────┼───────────┼───────────┼───────────┤ ├───────────┼───────────┼───────────┼───────────┼───────────┤
    &kp PLUS    &kp PIPE    &kp AT      &kp FSLH    &kp PRCNT ,   &js_fn      &kp BSLH    &kp AMPS    &dbl_a      &sgl_a    ,
//╰───────────┴───────────┴───────────┼───────────┴───────────┤ ├───────────┼───────────┴───────────┼───────────┴───────────╯
                            &kp BSPC    ___         ___       ,   ___         ___         ___
//                        ╰───────────┴───────────┴───────────╯ ╰───────────┴───────────┴───────────╯
)

ZMK_BASE_LAYER(Num,
//╭───────────┬───────────┬───────────┬───────────┬───────────╮ ╭───────────┬───────────┬───────────┬───────────┬───────────╮
    &kp N1      &kp N2      &kp N3      &kp N4      &kp N5    ,   &kp N6      &kp N7      &kp N8      &kp N9      &kp N0    ,
//├───────────┼───────────┼───────────┼───────────┼───────────┤ ├───────────┼───────────┼───────────┼───────────┼───────────┤
    HMLA MIN    HMLC AST    HMLG EQU    HMLS DOT    &kp DLLR  ,   CANCEL      &kp LSHFT   &kp LGUI    &kp LCTRL   &kp LALT  ,
//|───────────┼───────────┼───────────┼───────────┼───────────┤ ├───────────┼───────────┼───────────┼───────────┼───────────┤
    ___         &kp HASH    &kp PLUS    &kp FSLH    ___       ,   ___         ___         &kp COMMA   &kp DOT     ___       ,
//╰───────────┴───────────┴───────────┼───────────┴───────────┤ ├───────────┼───────────┴───────────┼───────────┴───────────╯
                            &sl NUM     ___         ___       ,   ___         ___         ___
//                        ╰───────────┴───────────┴───────────╯ ╰───────────┴───────────┴───────────╯
)

ZMK_BASE_LAYER(Fn,
//╭───────────┬───────────┬───────────┬───────────┬───────────╮ ╭───────────┬───────────┬───────────┬───────────┬───────────╮
    &kp F12     &kp F7      &kp F8      &kp F9      BOOT      ,   STUDIO      PREV        &kp VUP     NEXT        PLAY_P    ,
//├───────────┼───────────┼───────────┼───────────┼───────────┤ ├───────────┼───────────┼───────────┼───────────┼───────────┤
    HMLA F11    HMLC F4     HMLG F5     HMLS F6     SWAP      ,   UNTAB       HMRS PUP    HMRG VDN    HMRC PDN    HMLA BRK  ,
//|───────────┼───────────┼───────────┼───────────┼───────────┤ ├───────────┼───────────┼───────────┼───────────┼───────────┤
    &kp F10     &kp F1      &kp F2      &kp F3      CANCEL    ,   ___         ___         MUTE        ___         ___       ,
//╰───────────┴───────────┴───────────┼───────────┴───────────┤ ├───────────┼───────────┴───────────┼───────────┴───────────╯
                            ___         ___         ___       ,   ___         ___         ___
//                        ╰───────────┴───────────┴───────────╯ ╰───────────┴───────────┴───────────╯
)

ZMK_BASE_LAYER(Casemode_Under,
//╭───────────┬───────────┬───────────┬───────────┬───────────╮ ╭───────────┬───────────┬───────────┬───────────┬───────────╮
    &kp Q       &kp W       &kp E       &kp R       &kp T     ,   &kp Y       &kp U       &kp I       &kp O       &kp P     ,
//├───────────┼───────────┼───────────┼───────────┼───────────┤ ├───────────┼───────────┼───────────┼───────────┼───────────┤
    HMLA A      HMLC S      HMLG D      HMLS F      &kp G     ,   &kp H       HMRS J      HMRG K      HMRC L      HMRA SQT  ,
//|───────────┼───────────┼───────────┼───────────┼───────────┤ ├───────────┼───────────┼───────────┼───────────┼───────────┤
    &kp Z       &kp X       &kp C       &kp V       &kp B     ,   &kp N       &kp M       &comma_m    &dot_m      &qexcl    ,
//╰───────────┴───────────┴───────────┼───────────┴───────────┤ ├───────────┼───────────┴───────────┼───────────┴───────────╯
                            CANCEL      &kp RET     CANCEL    ,   &mo SYM     &kp UNDER   &kp BSPC
//                        ╰───────────┴───────────┴───────────╯ ╰───────────┴───────────┴───────────╯
)

ZMK_BASE_LAYER(Casemode_Path,
//╭───────────┬───────────┬───────────┬───────────┬───────────╮ ╭───────────┬───────────┬───────────┬───────────┬───────────╮
    &kp Q       &kp W       &kp E       &kp R       &kp T     ,   &kp Y       &kp U       &kp I       &kp O       &kp P     ,
//├───────────┼───────────┼───────────┼───────────┼───────────┤ ├───────────┼───────────┼───────────┼───────────┼───────────┤
    HMLA A      HMLC S      HMLG D      HMLS F      &kp G     ,   &kp H       HMRS J      HMRG K      HMRC L      HMRA SQT  ,
//|───────────┼───────────┼───────────┼───────────┼───────────┤ ├───────────┼───────────┼───────────┼───────────┼───────────┤
    &kp Z       &kp X       &kp C       &kp V       &kp B     ,   &kp N       &kp M       &comma_m    &dot_m      &qexcl    ,
//╰───────────┴───────────┴───────────┼───────────┴───────────┤ ├───────────┼───────────┴───────────┼───────────┴───────────╯
                            CANCEL      &kp RET     CANCEL    ,   &mo SYM     &kp FSLH    &kp BSPC
//                        ╰───────────┴───────────┴───────────╯ ╰───────────┴───────────┴───────────╯
)
