#include "zmk-helpers/key-labels/totem.h"
#include "base.dtsi"

ZMK_BASE_LAYER(Base,
//       ╭─────────┬─────────┬─────────┬───────────┬────────╮ ╭─────────┬──────────┬──────────┬─────────┬─────────╮
           &kp Q     &kp W     &kp F     &kp P       &kp B  ,   &kp J     &kp L      &kp U      &kp Y     &kp SQT ,
//       ├─────────┼─────────┼─────────┼───────────┼────────┤ ├─────────┼──────────┼──────────┼─────────┼─────────┤
           HMLC A    HMLA R    HMLS S    HMLG T      &kp G  ,   &kp M     HMRG N     HMRS E     HMRA I    HMRC O  ,
//╭──────├─────────┼─────────┼─────────┼───────────┼────────┤ ├─────────┼──────────┼──────────┼─────────┼─────────┤─────╮
    XXX    &kp Z     &kp X     &kp C     &kp D       &kp V  ,   &kp K     &kp H      &comma_m   &dot_m    &qexcl    XXX ,
//╰──────┴─────────┴─────────┼─────────┴───────────┼────────┤ ├─────────┼──────────┴──────────┼─────────┴─────────┴─────╯
                               XXX       &kp SPACE   &mo NAV,   &mo NUM   &kp SPACE  XXX
//                           ╰─────────┴───────────┴────────╯ ╰─────────┴──────────┴──────────╯
)

ZMK_BASE_LAYER(Casemode_Under,
//        ╭────────┬─────────┬─────────┬───────────┬────────╮ ╭─────────┬──────────┬──────────┬────────┬────────╮
            ___      ___       ___       ___         ___    ,   ___       ___        ___        ___      ___    ,
//        ├────────┼─────────┼─────────┼───────────┼────────┤ ├─────────┼──────────┼──────────┼────────┼────────┤ˇ
            ___      ___       ___       ___         ___    ,   ___       ___        ___        ___      ___    ,
//╭───────├────────┼─────────┼─────────┼───────────┼────────┤ ├─────────┼──────────┼──────────┼────────┼────────┤───────╮
    ___     ___      ___       ___       ___         ___    ,   ___       ___        ___        ___      ___      ___   ,
//╰───────┴────────┴─────────┼─────────┴───────────┴────────┤ ├─────────┼──────────┴──────────┼────────┴────────┴───────╯
                               ___       UNDER_C     CANCEL ,   ___       UNDER_C    ___
//                           ╰─────────┴───────────┴────────╯ ╰─────────┴──────────┴──────────╯
)

ZMK_BASE_LAYER(Casemode_Slash,
//        ╭────────┬─────────┬─────────┬───────────┬────────╮ ╭─────────┬──────────┬──────────┬────────┬────────╮
            ___      ___       ___       ___         ___    ,   ___       ___        ___        ___      ___    ,
//        ├────────┼─────────┼─────────┼───────────┼────────┤ ├─────────┼──────────┼──────────┼────────┼────────┤
            ___      ___       ___       ___         ___    ,   ___       ___        ___        ___      ___    ,
//╭───────├────────┼─────────┼─────────┼───────────┼────────┤ ├─────────┼──────────┼──────────┼────────┼────────┤───────╮
    ___     ___      ___       ___       ___         ___    ,   ___       ___        ___        ___      ___      ___   ,
//╰───────┴────────┴─────────┼─────────┴───────────┴────────┤ ├─────────┼──────────┴──────────┼────────┴────────┴───────╯
                               ___       SLASH_C     CANCEL ,   ___       SLASH_C    ___
//                           ╰─────────┴───────────┴────────╯ ╰─────────┴──────────┴──────────╯
)

ZMK_BASE_LAYER(Casemode_Dash,
//        ╭────────┬─────────┬─────────┬───────────┬────────╮ ╭─────────┬──────────┬──────────┬────────┬────────╮
            ___      ___       ___       ___         ___    ,   ___       ___        ___        ___      ___    ,
//        ├────────┼─────────┼─────────┼───────────┼────────┤ ├─────────┼──────────┼──────────┼────────┼────────┤
            ___      ___       ___       ___         ___    ,   ___       ___        ___        ___      ___    ,
//╭───────├────────┼─────────┼─────────┼───────────┼────────┤ ├─────────┼──────────┼──────────┼────────┼────────┤───────╮
    ___     ___      ___       ___       ___         ___    ,   ___       ___        ___        ___      ___      ___   ,
//╰───────┴────────┴─────────┼─────────┴───────────┴────────┤ ├─────────┼──────────┴──────────┼────────┴────────┴───────╯
                               ___       DASH_C      CANCEL ,   ___       DASH_C     ___
//                           ╰─────────┴───────────┴────────╯ ╰─────────┴──────────┴──────────╯
)

ZMK_BASE_LAYER(Nav,
//        ╭──────────┬───────────┬───────────┬───────────┬───────────╮ ╭─────────┬───────────┬──────────┬───────────┬──────────╮
            XXX        XXX         CAPS_UNDER   WORD_UNDER  WORD_PATH ,   SSHOT     WORD_B      NAV_UP     WORD_F      NAV_DEL  ,
//        ├──────────┼───────────┼───────────┼───────────┼───────────┤ ├─────────┼───────────┼──────────┼───────────┼──────────┤
            &kp LCTRL  &kp LALT    &kp LSHFT   &kp LGUI    SWAP      ,   LAUNCH    NAV_LEFT    NAV_DOWN   NAV_RIGHT   &kp RET  ,
//╭───────├──────────┼───────────┼───────────┼───────────┼───────────┤ ├─────────┼───────────┼──────────┼───────────┼──────────┤─────╮
    XXX     XXX        XXX         XXX         WORD_SHIFT  UNTAB     ,   TERM      &kp PUP     CMNT       &kp PDN     NAV_BSPC   XXX , 
//╰───────┴──────────┴───────────┼───────────┴───────────┴───────────┤ ├─────────┼───────────┴──────────┼───────────┴──────────┴─────╯
                                   XXX         &kp SPACE   &mo NAV   ,   &mo NUM   &kp SPACE   XXX
//                               ╰───────────┴───────────┴───────────╯ ╰─────────┴───────────┴──────────╯
)

ZMK_BASE_LAYER(Num,
//        ╭───────────┬─────────┬─────────┬─────────┬──────────╮ ╭────────┬──────────┬───────────┬──────────┬───────────╮
            &kp SLASH   &kp N7    &kp N8    &kp N9    &kp PLUS ,   XXX      XXX         XXX        XXX        XXX       ,
//        ├───────────┼─────────┼─────────┼─────────┼──────────┤ ├────────┼──────────┼───────────┼──────────┼───────────┤
            HMLC N0     HMLA N4   HMLS N5   HMLG N6   &kp DOT  ,   CANCEL   &kp LGUI   &kp LSHFT   &kp LALT   &kp LCTRL ,
//╭───────├───────────┼─────────┼─────────┼─────────┼──────────┤ ├────────┼──────────┼───────────┼──────────┼───────────┤─────╮
    XXX     &kp ASTRK   &kp N1    &kp N2    &kp N3    &kp MIN  ,   XXX      XXX        &kp COMMA   &kp DOT    XXX         XXX ,
//╰───────┴───────────┴─────────┼─────────┴─────────┼──────────┤ ├────────┼──────────┴───────────┼──────────┴───────────┴─────╯
                                  ___       ___       ___      ,   ___      ___        ___
//                              ╰─────────┴─────────┴──────────╯ ╰────────┴──────────┴───────────╯
)

ZMK_BASE_LAYER(Fn,
//       ╭──────────┬─────────┬─────────┬─────────┬───────╮ ╭─────────┬──────────┬──────────┬──────────┬───────────╮
           &kp F12    &kp F7    &kp F8    &kp F9    BOOT  ,   BOOT      PREV       &kp VUP    NEXT       PLAY_P    ,
//       ├──────────┼─────────┼─────────┼─────────┼───────┤ ├─────────┼──────────┼──────────┼──────────┼───────────┤
           HMLC F11   HMLA F4   HMLS F5   HMLG F6   SWAP  ,   &kp BRK   HMRG PUP   HMRS VDN   HMRA PDN   &kp LCTRL ,
//╭──────├──────────┼─────────┼─────────┼─────────┼───────┤ ├─────────┼──────────┼──────────┼──────────┼───────────┤─────╮
    XXX    &kp F10    &kp F1    &kp F2    &kp F3    UNTAB ,   STUDIO    XXX        MUTE       XXX        XXX         XXX ,
//╰──────┴──────────┴─────────┼─────────┴─────────┼───────┤ ├─────────┼──────────┴──────────┼──────────┴───────────┴─────╯
                                ___       ___       ___   ,   ___       ___        ___
//                            ╰─────────┴─────────┴───────╯ ╰─────────┴──────────┴──────────╯
)
