#include "zmk-helpers/key-labels/totem.h"
#include "base.dtsi"

ZMK_BASE_LAYER(Base,
//              ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮ ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮
                  &kp Q            &kp W            &kp E            &kp R            &kp T          ,   &kp Y            &kp U            &kp I            &kp O            &kp P          ,
//              ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
                  &hml LALT A      &hml LCTRL S     &hml LGUI D      &hml LSHFT F     &kp G          ,   &kp H            &hmr RSHFT J     &hmr LGUI K      &hmr LCTRL L     &hmr LALT SQT  ,
//╭─────────────├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤────────────────╮
    &sl NUM       &kp Z            &kp X            &kp C            &kp V            &kp B          ,   &kp N            &kp M            &comma_m         &dot_m           &kp RET          &qexcl         ,
//╰─────────────┴────────────────┴────────────────┼────────────────┴────────────────┼────────────────┤ ├────────────────┼────────────────┴────────────────┼────────────────┴────────────────┴────────────────╯
                                                    &sl NUM          &kp SPACE        &mo NAV        ,   &mo NUM          &kp SPACE        &kp BSPC
//                                                ╰────────────────┴────────────────┴────────────────╯ ╰────────────────┴────────────────┴────────────────╯
)

ZMK_BASE_LAYER(Casemode_Under,
//              ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮ ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮
                  ___              ___              ___              ___              ___            ,   ___              ___              ___              ___              ___            ,
//              ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
                  ___              ___              ___              ___              ___            ,   ___              ___              ___              ___              ___            ,
//╭─────────────├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤────────────────╮
    ___           ___              ___              ___              ___              ___            ,   ___              ___              ___              ___              ___              ___            ,
//╰─────────────┴────────────────┴────────────────┼────────────────┴────────────────┴────────────────┤ ├────────────────┼────────────────┴────────────────┼────────────────┴────────────────┴────────────────╯
                                                    CANCEL           &kp UNDER        CANCEL         ,   &kp RET          &kp UNDER        &kp BSPC
//                                                ╰────────────────┴────────────────┴────────────────╯ ╰────────────────┴────────────────┴────────────────╯
)

ZMK_BASE_LAYER(Casemode_Slash,
//              ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮ ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮
                  ___              ___              ___              ___              ___            ,   ___              ___              ___              ___              ___            ,
//              ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
                  ___              ___              ___              ___              ___            ,   ___              ___              ___              ___              ___            ,
//╭─────────────├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤────────────────╮
    ___           ___              ___              ___              ___              ___            ,   ___              ___              ___              ___              ___              ___            ,
//╰─────────────┴────────────────┴────────────────┼────────────────┴────────────────┴────────────────┤ ├────────────────┼────────────────┴────────────────┼────────────────┴────────────────┴────────────────╯
                                                    CANCEL           &kp SLASH        CANCEL         ,   &kp RET          &kp SLASH        &kp BSPC
//                                                ╰────────────────┴────────────────┴────────────────╯ ╰────────────────┴────────────────┴────────────────╯
)

ZMK_BASE_LAYER(Nav,
//              ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮ ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮
                  &kp ESC          CASE_PATH        CASE_CAPS        NUM_WORD         &kp TAB        ,   SSHOT            &kp LA(LEFT)     NAV_UP           &kp LA(RIGHT)    NAV_DEL        ,
//              ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
                  &kp LALT         &kp LCTRL        &kp LGUI         &kp LSHFT        &kp LS(TAB)    ,   LAUNCH           NAV_LEFT         NAV_DOWN         NAV_RIGHT        &kp RET        ,
//╭─────────────├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤────────────────╮
    &kp K_CANCEL  SAVE             CUT_             COPY_            PASTE            UNDO_          ,   REDO             ___              ___              ___              NAV_BSPC         &kp K_CANCEL   , 
//╰─────────────┴────────────────┴────────────────┼────────────────┴────────────────┴────────────────┤ ├────────────────┼────────────────┴────────────────┼────────────────┴────────────────┴────────────────╯
                                                    &sl NUM          &kp SPACE        &mo NAV        ,   &mo NUM          &kp SPACE        &kp BSPC
//                                                ╰────────────────┴────────────────┴────────────────╯ ╰────────────────┴────────────────┴────────────────╯
)

ZMK_BASE_LAYER(Num,
//              ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮ ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮
                  &kp N1           &kp N2           &kp N3           &kp N4           &kp N5         ,   &kp N6           &kp N7           &kp N8           &kp N9           &kp N0         ,
//              ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
                  &hml LALT MIN    &hml LCTRL PLUS  &hml LGUI FSLH   &hml LSHFT EQUAL  &kp DLLR       ,  &kp PRCNT        &hmr RSHFT LPAR  &hmr LGUI RPAR   &hmr LCTRL PLUS  &hmr LALT RET  ,
//╭─────────────├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤────────────────╮
    ___           ___              ___              &kp HASH         &kp DOT          &kp ASTRK      ,   ___              ___              ___              &kp DOT          NAV_BSPC         ___            ,
//╰─────────────┴────────────────┴────────────────┼────────────────┴────────────────┼────────────────┤ ├────────────────┼────────────────┴────────────────┼────────────────┴────────────────┴────────────────╯
                                                    ___              ___              ___            ,   ___              ___              ___
//                                                ╰────────────────┴────────────────┴────────────────╯ ╰────────────────┴────────────────┴────────────────╯
)

ZMK_BASE_LAYER(Fn,
//              ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮ ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮
                  &kp F12          &kp F7           &kp F8           &kp F9           &bootloader    ,   &bootloader      &kp C_PREV       &kp VUP          &kp C_NEXT       &kp C_PP       ,
//              ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
                  &hml LALT F11    &hml LCTRL F4    &hml LGUI F5     &hml LSHFT F6    SWAP           ,   &studio_unlock   &hmr RSHFT PUP   &hmr LGUI VDN    &hmr LCTRL PDN   &hmr LALT BRK  ,
//╭─────────────├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤ ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤────────────────╮
    ___           &kp F10          &kp F1           &kp F2           &kp F3           ___            ,   ___              ___           &kp C_MUTE       ___           ___              ___            ,
//╰─────────────┴────────────────┴────────────────┼────────────────┴────────────────┼────────────────┤ ├────────────────┼────────────────┴────────────────┼────────────────┴────────────────┴────────────────╯
                                                    ___              ___              ___            ,   ___              ___              ___
//                                                ╰────────────────┴────────────────┴────────────────╯ ╰────────────────┴────────────────┴────────────────╯
)
